*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #02040F;
    color: white;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 1px solid red;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}